body {
  background-color: #3b6cf5;
  font-family: Arial, sans-serif;
  align-items: center;
  height: 100vh;
}
.container {
  
  gap: 40px;
}
.box {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  padding: 30px;
  width: 300px;
}

.title {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.input-group input:focus {
  border-color: #3b6cf5;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 13px;
}

.options a {
  
  color: #3b6cf5;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
 
  
}

.login {
  background-color: #3b6cf5;
}

.register {
  background-color: #3b6cf5;
}

.btn:hover {
  background-color: #2f56c0;
}

.switch-text {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.switch-text a {
  color: #3b6cf5;
  
}