.map-container {
  position: relative;
  display: inline-block;
}

.marker {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  display: none;
}

.active-item {
  background: #0d6efd !important;
  color: white !important;
  font-weight: bold;
}
