*{
    margin: 0;
    padding: 0;
}

.Navbar{
    border: 1px solid #000;
    background-color: violet;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
#link{
    display: flex;
    gap: 20px;
}
#button{
    border: 1px solid #000000;
    position: fixed;
    bottom: 40px;
    right: 40px;

}