#Maindiv{
border: 1px solid #000;
width: 100px;
height: 100px;
background-color: chocolate;
display: flex;
    gap: 5px;
     flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.subDiv
{

 border: 1px solid #000;
    width: 40px; 
    height: 40px;
    background-color:blanchedalmond; 
    margin: 2px;
    grid-template-columns: 10px 10px;
    

}