#mainDiv{
    border: 1px solid #000;
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.subDiv
{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color:blanchedalmond;
    /* display: inline-block;
    margin: 12px; */



}