body{
    background: url();
    background-size: cover;
}
#mainPage
{
    border:1px solid #000;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px grey;
    background-color: rgba(red, green, blue, alpha);
}